*{
    margin: 0px;
    padding: 0px;
    background:url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}
#task:focus{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    list-style: none;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.card{
    border: 5px solid rgb(214, 205, 205);
    border-radius: 10px;
    height: 200px;
    width: 30vh;
    /* display: flex; */
    position: relative;
    transform: 50% 50% translate(-50% -50%);

}